<a href="https://colab.research.google.com/github/kokorina-irina/ML/blob/master/LR6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Кокорина Ирина ИУ5-63Б ЛР6**



> Выберите набор данных (датасет) для решения задачи классификации или регрессии.

**Подключаем необходимые библиотеки**

In [0]:
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Enable inline plots
%matplotlib inline

# Set plots formats to save high resolution PNG
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")


Для данной лабораторной работы мною был использован набор данных "Heart Disease UCI" (классификации болезней сердца), так как на мой взгляд (это заметно по предыдущим лабораторным работам) методы машинного обучения удобнее всего использовать на данных медицинских исследований.

In [0]:
data = pd.read_csv("heart.csv")

In [6]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [7]:
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
df=data.copy()

Проверим размер набора данных

In [10]:
df.shape

(303, 14)

Статистические характеристики набора данных

In [11]:
df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

Наличие пропусков в данных

In [12]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# **Разделение данных**

С использованием метода train_test_split разделите выборку на обучающую и тестовую.

Сначала разделим данные на целевой столбец и признаки

In [0]:
X = df.drop("target", axis=1)
y = df["target"]

Посмотрим на результат

In [14]:
print(X.head(), "\n")
print(y.head())

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [15]:
print(X.shape)
print(y.shape)

(303, 13)
(303,)

Предобработка данных

In [16]:
columns = X.columns
scaler = StandardScaler()
X = scaler.fit_transform(X)
pd.DataFrame(X, columns=columns).describe()

                age           sex  ...            ca          thal
count  3.030000e+02  3.030000e+02  ...  3.030000e+02  3.030000e+02
mean   5.825923e-17 -1.319077e-17  ...  4.752341e-16  3.484561e-16
std    1.001654e+00  1.001654e+00  ...  1.001654e+00  1.001654e+00
min   -2.797624e+00 -1.468418e+00  ... -7.144289e-01 -3.784824e+00
25%   -7.572802e-01 -1.468418e+00  ... -7.144289e-01 -5.129219e-01
50%    6.988599e-02  6.810052e-01  ... -7.144289e-01 -5.129219e-01
75%    7.316189e-01  6.810052e-01  ...  2.650822e-01  1.123029e+00
max    2.496240e+00  6.810052e-01  ...  3.203615e+00  1.123029e+00

[8 rows x 13 columns]

Теперь разделим выборку на тренировочную и тестовую:

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                            test_size=0.25, random_state=346705925)

In [18]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(227, 13)
(76, 13)
(227,)
(76,)

# **Обучение моделей**

Обучите две ансамблевые модели. Оцените качество моделей с помощью одной из подходящих для задачи метрик. Сравните качество полученных моделей.

Функция для подсчета метрик построенных моделей

In [0]:
def test_model(model):
    print("mean_absolute_error:",
          mean_absolute_error(y_test, model.predict(X_test)))
    print("median_absolute_error:",
          median_absolute_error(y_test, model.predict(X_test)))
    print("accuracy:",
          accuracy_score(y_test, model.predict(X_test).round()))
    print("balanced_accuracy:",
          balanced_accuracy_score(y_test, model.predict(X_test).round()))

**Градиентный бустинг с гиперпараметром $n=100$:**

In [20]:
gr_100 = GradientBoostingRegressor(n_estimators=100)
gr_100.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

Метрики данной модели:

In [21]:
test_model(gr_100)

mean_absolute_error: 0.3210927788277348
median_absolute_error: 0.22110976982733782
accuracy: 0.7763157894736842
balanced_accuracy: 0.7659498207885305

**Случайный лес с гиперпараметром $n=100$:**

In [22]:
ran_100 = RandomForestRegressor(n_estimators=100)
ran_100.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

Метрики для оценки:

In [23]:
test_model(ran_100)

mean_absolute_error: 0.28236842105263155
median_absolute_error: 0.18999999999999995
accuracy: 0.7894736842105263
balanced_accuracy: 0.782078853046595

**Можно сделать вывод, что случайный лес показывает лучший результат по оценке метрик, нежели градиентный бустинг** (как и во многих задачах, включая кредитный скоринг)